@import "settings/colors";
@import "settings/fonts";
@import "settings/variables";

*, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 8px;
  background-color: $primaryColorBackground;
}

#root{
  max-width: 1600px;
  min-height: 100vh;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  color: $primaryColor;
  overflow-x: hidden;

  .app-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: rgb(200, 200, 200);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    &__author-info{
      flex-basis: 12%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 3%;
      letter-spacing: 1px;
      font-size: 1.8em;
      text-shadow:  0 1px 0 #ccc,
                    0 2px 0 #c9c9c9,
                    0 3px 0 #bbb,
                    0 4px 0 #b9b9b9,
                    0 5px 0 #aaa,
                    0 6px 1px rgba(0,0,0,.1),
                    0 0 5px rgba(0,0,0,.1),
                    0 1px 3px rgba(0,0,0,.3),
                    0 3px 5px rgba(0,0,0,.2),
                    0 5px 10px rgba(0,0,0,.25),
                    0 10px 10px rgba(0,0,0,.2),
                    0 20px 20px rgba(0,0,0,.15);

      &--surname{
        margin-left: 3px;
        text-transform: uppercase;
      }
    }

    &__nav {
      flex-grow: 1;
      .fa-bars {
        cursor: pointer;
        font-size: 3em;
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%) rotate(0);
        transition: 0.3s;
        &:hover {
          transform: translateY(-50%) rotate(180deg);
        }

        &--active {
          display: none;
        }
      }

      &__content {
        position: absolute;
        //z-index: 10;
        width: 100%;
        top: 0;
        left: 100%;
        height: 100vh;
        transition: 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(0);
        background: $primaryColorAlpha;
        &--active {
          transform: translateX(-100%);
        }

        &__list {
          height: 100%;
          list-style: none;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: stretch;
          //flex-grow: 1;
          &__item {
            flex-basis: 17%;
            align-items: stretch;
            &__btn {
              width: 100%;
              height: $base-height-button;
              padding: 10px;
              font-size: 1.4em;
              font-weight: bold;
              background-color: #ffffff;
              border: 1px solid $primaryColor;
              color: $primaryColor;
              text-transform: uppercase;
              letter-spacing: 2px;
              transition: 0.3s;
              box-shadow: 0 20px 30px -10px $primaryColorAlpha, 0 10px 30px -5px $primaryColorAlpha;
              cursor: pointer;
              &:focus{
                outline: none;
              }
            }
          }
        }
      }
    }
  }
  .app-nav{
    padding-top: 60px;
    flex-basis: 15%;
    padding-left: 2%;
    padding-right: 2%;
    &__list{
      list-style: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
      &__item{
        margin-left: 10px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        &__btn{
          box-sizing: content-box;
          display: flex;
          justify-content: center;
          align-items: center;
          height: $base-height-button / 2;
          padding: 3px;
          font-size: 1.4em;
          font-weight: bold;
          background-color: #fff;
          border: 1px solid $primaryColor;
          color: $primaryColor;
          text-transform: uppercase;
          letter-spacing: 2px;
          transition: 0.3s;
          box-shadow: 0 20px 30px -10px $primaryColorAlpha, 0 10px 30px -5px $primaryColorAlpha;
          cursor: pointer;
          &:focus{
            outline: none;
          }
        }
      }
    }
  }
  .app-content {
    //flex-grow: 1;
    display: flex;
    &__section-welcome {
      height: 100%;
      padding-left: 2%;
      padding-right: 2%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      &__title {
        margin-top: 10%;
        text-align: center;
        font-size: 2.4em;
        &__main{
          text-transform: uppercase;
          font-weight: bold;
        }
        &__subtitle{
          font-weight: lighter;
          margin-top: 2%;
          text-transform: none;
          font-size: 0.75em;
        }
      }
      &__photo {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
          margin-top: 10%;
        }
      }
    }
  }
  .admin-panel{
    display: flex;
    //flex-shrink: 0;
    margin-top: 100px;
    flex-grow: 1;
    form{
      font-size: 2em;
      display: flex;
      flex-direction: column;
      padding: 1%;
      flex-grow: 1;
      button{
        font-size: inherit;
      }
    }
  }
}


@media (min-width: 768px){
  body{
    font-size: 10px;
  }
  #root {
    .app-header {
      &__author-info{
        //margin-left: 1%;
      }
      &__nav {
        .fa-bars {
          display: none;
        }

        &__content {
          position: static;
          height: 100%;
          background: transparent;
          transition: none;
          &--active {
            transform: none;
          }
          &__list {
            width: 100%;
            height: 100%;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            &__item {
              &__btn {
                position: relative;
                font-size: 1.3em;
                letter-spacing: 1px;
                overflow: hidden;
                opacity: 1;
                &::after{
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  padding: 10px;
                  color: white;
                  content: attr(data-content);
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  transition: 0.3s;
                  opacity: 0;
                  background-color: #000;
                }
                &:hover, &--active {
                  opacity: 1;
                  &::after{
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }
    }
    .app-nav {
      &__list {
        &__item {
          &__btn {
            position: relative;
            &::after{
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 10px;
              color: white;
              content: attr(data-content);
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              transition: 0.3s;
              opacity: 0;
              background-color: #000;
            }
            &:hover, &--active {
              opacity: 1;
              &::after{
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }

}

@media (min-width: 1024px){
  body{
    font-size: 12px;
  }
  #root {
    .app-header {
      //height: 70px;
      &__author-info{
        margin-left: 2%;
      }
      &__nav {
        &__content {
          position: static;
          height: 100%;

          &__list {
            width: 100%;
            height: 80%;
            flex-direction: row;
            align-items: stretch;
            &__item {
              //flex-basis: 17%;
              //margin-left: 3%; no-margin in mobile-first
              //align-items: stretch;

              &__btn {
                //flex-shrink: 1;
                //width: 153px;
                //cursor: pointer;
                &:hover {
                  //color: #FFF;
                  //background-color: $primaryColor;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1280px){
  body{
    font-size: 14px;
  }
  #root {
    .app-header {
      //height: 80px;
      &__author-info{
        margin-left: 2%;
      }
      &__nav {
        &__content {
          position: static;
          height: 100%;

          &__list {
            //height: 70%;
            flex-direction: row;
            align-items: stretch;
            &__item {
              flex-basis: 17%;
              //margin-left: 3%; no-margin in mobile-first
              align-items: stretch;

              &__btn {
                //width: 170px;
                //cursor: pointer;
                &:hover {
                  //color: #FFF;
                  //background-color: $primaryColor;
                }
              }
            }
          }
        }
      }
    }
  }

}

@media (orientation: landscape){
  #root{
    flex-direction: row;
    .app-header{
      &__author-info{
        &--surname{
        }
      }
      &__nav {
        .fa-bars {
          &:hover {
          }
          &--active {
          }
        }
        &__content {
          flex-direction: row;
          &--active {
          }
          &__list {
            &__item {
              &__btn {
                &:focus{
                }
              }
            }
          }
        }
      }
    }
    .app-nav{
      &__list{
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        //flex-grow: 1;
        &__item{
          //flex-grow: 1;
          &__btn{
            flex-grow: 1;
            &:focus{
            }
          }
        }
      }
    }
    .app-content {
      &__section-welcome {
        padding-top: 30vh;
        //display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        &__title{
          flex-basis: 60%;
          //font-size: 1.4em;
          margin-top: 6%;
          //flex-grow: 6;
        }

        &__photo {
          flex-basis: 40%;
          height: 100%;
          flex-direction: column;
          justify-content: flex-end;
          //flex-grow: 4;
          img {
            width: 33vw;
          }
        }
      }
    }
  }
}