*, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 8px;
  background-color: rgba(112, 112, 112, 0.2);
}

#root {
  max-width: 1600px;
  min-height: 100vh;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  color: black;
  overflow-x: hidden;
}
#root .app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #c8c8c8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
#root .app-header__author-info {
  flex-basis: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3%;
  letter-spacing: 1px;
  font-size: 1.8em;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}
#root .app-header__author-info--surname {
  margin-left: 3px;
  text-transform: uppercase;
}
#root .app-header__nav {
  flex-grow: 1;
}
#root .app-header__nav .fa-bars {
  cursor: pointer;
  font-size: 3em;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%) rotate(0);
  transition: 0.3s;
}
#root .app-header__nav .fa-bars:hover {
  transform: translateY(-50%) rotate(180deg);
}
#root .app-header__nav .fa-bars--active {
  display: none;
}
#root .app-header__nav__content {
  position: absolute;
  width: 100%;
  top: 0;
  left: 100%;
  height: 100vh;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(0);
  background: rgba(82, 82, 82, 0.7);
}
#root .app-header__nav__content--active {
  transform: translateX(-100%);
}
#root .app-header__nav__content__list {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}
#root .app-header__nav__content__list__item {
  flex-basis: 17%;
  align-items: stretch;
}
#root .app-header__nav__content__list__item__btn {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 1.4em;
  font-weight: bold;
  background-color: #ffffff;
  border: 1px solid black;
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.3s;
  box-shadow: 0 20px 30px -10px rgba(82, 82, 82, 0.7), 0 10px 30px -5px rgba(82, 82, 82, 0.7);
  cursor: pointer;
}
#root .app-header__nav__content__list__item__btn:focus {
  outline: none;
}
#root .app-nav {
  padding-top: 60px;
  flex-basis: 15%;
  padding-left: 2%;
  padding-right: 2%;
}
#root .app-nav__list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
#root .app-nav__list__item {
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root .app-nav__list__item__btn {
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  padding: 3px;
  font-size: 1.4em;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid black;
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.3s;
  box-shadow: 0 20px 30px -10px primaryColorAlpha, 0 10px 30px -5px rgba(82, 82, 82, 0.7);
  cursor: pointer;
}
#root .app-nav__list__item__btn:focus {
  outline: none;
}
#root .app-content {
  display: flex;
}
#root .app-content__section-welcome {
  height: 100%;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#root .app-content__section-welcome__title {
  margin-top: 10%;
  text-align: center;
  font-size: 2.4em;
}
#root .app-content__section-welcome__title__main {
  text-transform: uppercase;
  font-weight: bold;
}
#root .app-content__section-welcome__title__subtitle {
  font-weight: lighter;
  margin-top: 2%;
  text-transform: none;
  font-size: 0.75em;
}
#root .app-content__section-welcome__photo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#root .app-content__section-welcome__photo img {
  width: 100%;
  margin-top: 10%;
}
#root .admin-panel {
  display: flex;
  margin-top: 100px;
  flex-grow: 1;
}
#root .admin-panel form {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  padding: 1%;
  flex-grow: 1;
}
#root .admin-panel form button {
  font-size: inherit;
}

@media (min-width: 768px) {
  body {
    font-size: 10px;
  }

  #root .app-header__nav .fa-bars {
    display: none;
  }
  #root .app-header__nav__content {
    position: static;
    height: 100%;
    background: transparent;
  }
  #root .app-header__nav__content--active {
    transform: none;
  }
  #root .app-header__nav__content__list {
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  #root .app-header__nav__content__list__item__btn {
    position: relative;
    font-size: 1.3em;
    letter-spacing: 1px;
    overflow: hidden;
    opacity: 1;
  }
  #root .app-header__nav__content__list__item__btn::after {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    opacity: 0;
    background-color: #000;
  }
  #root .app-header__nav__content__list__item__btn:hover, #root .app-header__nav__content__list__item__btn--active {
    opacity: 1;
  }
  #root .app-header__nav__content__list__item__btn:hover::after, #root .app-header__nav__content__list__item__btn--active::after {
    opacity: 1;
  }
}
@media (min-width: 1024px) {
  body {
    font-size: 12px;
  }

  #root .app-header__author-info {
    margin-left: 2%;
  }
  #root .app-header__nav__content {
    position: static;
    height: 100%;
  }
  #root .app-header__nav__content__list {
    width: 100%;
    height: 80%;
    flex-direction: row;
    align-items: stretch;
  }
}
@media (min-width: 1280px) {
  body {
    font-size: 14px;
  }

  #root .app-header__author-info {
    margin-left: 2%;
  }
  #root .app-header__nav__content {
    position: static;
    height: 100%;
  }
  #root .app-header__nav__content__list {
    flex-direction: row;
    align-items: stretch;
  }
  #root .app-header__nav__content__list__item {
    flex-basis: 17%;
    align-items: stretch;
  }
}
@media (orientation: landscape) {
  #root {
    flex-direction: row;
  }
  #root .app-header__nav__content {
    flex-direction: row;
  }
  #root .app-nav__list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }
  #root .app-nav__list__item__btn {
    flex-grow: 1;
  }
  #root .app-content__section-welcome {
    padding-top: 30vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  #root .app-content__section-welcome__title {
    flex-basis: 60%;
    margin-top: 6%;
  }
  #root .app-content__section-welcome__photo {
    flex-basis: 40%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
  }
  #root .app-content__section-welcome__photo img {
    width: 33vw;
  }
}

/*# sourceMappingURL=index.css.map */
