* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 8px;
  overflow: hidden;
  background-color: rgba(112, 112, 112, 0.2);
}

#root {
  max-width: 1600px;
  min-height: 100vh;
  margin: auto 0;
  display: flex;
  color: black;
}
#root .app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: rgba(112, 112, 112, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
#root .app-header__author-info {
  flex-basis: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3%;
  letter-spacing: 1px;
  font-size: 1.8em;
}
#root .app-header__author-info--surname {
  margin-left: 3px;
  text-transform: uppercase;
}
#root .app-header__nav {
  flex-grow: 1;
}
#root .app-header__nav .fa-bars {
  cursor: pointer;
  font-size: 3em;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%) rotate(0);
  transition: 0.3s;
}
#root .app-header__nav .fa-bars:hover {
  transform: translateY(-50%) rotate(180deg);
}
#root .app-header__nav .fa-bars--active {
  display: none;
}
#root .app-header__nav__content {
  position: relative;
  z-index: 10;
  width: 100%;
  top: 0;
  left: 100%;
  height: 100vh;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root .app-header__nav__content--active {
  background: rgba(82, 82, 82, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
#root .app-header__nav__content__list {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}
#root .app-header__nav__content__list__item {
  flex-basis: 17%;
  align-items: stretch;
}
#root .app-header__nav__content__list__item__btn {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 1.4em;
  font-weight: bold;
  background-color: #ffffff;
  border: 1px solid black;
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.3s;
  box-shadow: 0 20px 30px -10px rgba(82, 82, 82, 0.7), 0 10px 30px -5px rgba(82, 82, 82, 0.7);
  cursor: pointer;
}
#root .app-header__nav__content__list__item__btn:focus {
  outline: none;
}
#root .app-nav {
  padding-top: 60px;
  flex-basis: 12%;
  padding-left: 2%;
  padding-right: 2%;
}
#root .app-nav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
#root .app-nav__list__item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root .app-nav__list__item__btn {
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 20px;
  padding: 3px;
  font-size: 1.2em;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid black;
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.3s;
  box-shadow: 0 20px 30px -10px primaryColorAlpha, 0 10px 30px -5px rgba(82, 82, 82, 0.7);
  cursor: pointer;
}
#root .app-nav__list__item__btn:focus {
  outline: none;
}
#root .app-content {
  flex-grow: 1;
  display: flex;
}
#root .app-content__section-welcome {
  height: 100%;
  padding-top: 50%;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#root .app-content__section-welcome__title {
  margin-top: 10%;
  text-align: center;
  font-size: 2.4em;
}
#root .app-content__section-welcome__title__main {
  text-transform: uppercase;
  font-weight: bold;
}
#root .app-content__section-welcome__title__subtitle {
  font-weight: lighter;
  margin-top: 2%;
  text-transform: none;
  font-size: 0.75em;
}
#root .app-content__section-welcome__photo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#root .app-content__section-welcome__photo img {
  width: 100%;
  margin-top: 10%;
}

@media (orientation: landscape) {
  #root {
    max-width: 1600px;
    margin: auto 0;
    display: flex;
    color: black;
  }
  #root .app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(112, 112, 112, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #root .app-header__author-info {
    flex-basis: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
    letter-spacing: 1px;
    font-size: 1.6em;
    /*text-shadow: ;*/
  }
  #root .app-header__author-info--surname {
    text-transform: uppercase;
  }
  #root .app-header__nav {
    flex-grow: 1;
  }
  #root .app-header__nav .fa-bars {
    cursor: pointer;
    font-size: 3em;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%) rotate(0);
    transition: 0.3s;
  }
  #root .app-header__nav .fa-bars:hover {
    transform: translateY(-50%) rotate(180deg);
  }
  #root .app-header__nav .fa-bars--active {
    display: none;
  }
  #root .app-header__nav__content {
    position: relative;
    z-index: 10;
    width: 100%;
    top: 0;
    left: 100%;
    height: 100vh;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .app-header__nav__content--active {
    background: rgba(82, 82, 82, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }
  #root .app-header__nav__content__list {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
  }
  #root .app-header__nav__content__list__item {
    flex-basis: 17%;
    align-items: stretch;
  }
  #root .app-header__nav__content__list__item__btn {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 1.4em;
    font-weight: bold;
    background-color: #ffffff;
    border: 1px solid black;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.3s;
    box-shadow: 0 20px 30px -10px rgba(82, 82, 82, 0.7), 0 10px 30px -5px rgba(82, 82, 82, 0.7);
    cursor: pointer;
  }
  #root .app-header__nav__content__list__item__btn:focus {
    outline: none;
  }
  #root .app-nav {
    padding-top: 60px;
    flex-basis: 12%;
    padding-left: 2%;
    padding-right: 2%;
    height: 100vh;
  }
  #root .app-nav__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  #root .app-nav__list__item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .app-nav__list__item__btn {
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 20px;
    padding: 3px;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #fff;
    border: 1px solid black;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.3s;
    box-shadow: 0 20px 30px -10px rgba(82, 82, 82, 0.7), 0 10px 30px -5px rgba(82, 82, 82, 0.7);
    cursor: pointer;
  }
  #root .app-nav__list__item__btn:focus {
    outline: none;
  }
  #root .app-content {
    flex-grow: 1;
  }
  #root .app-content__section-welcome {
    text-align: center;
    margin-top: 60px;
    padding-top: 10%;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
  }
  #root .app-content__section-welcome__title {
    margin-top: 2%;
  }
  #root .app-content__section-welcome__photo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .app-content__section-welcome__photo img {
    width: 60vh;
    margin-top: 2%;
  }
}
@media (min-width: 768px) {
  body {
    font-size: 7px;
  }

  #root .app-header__author-info {
    margin-left: 1%;
  }
  #root .app-header__nav .fa-bars {
    display: none;
  }
  #root .app-header__nav__content {
    position: static;
    height: 100%;
  }
  #root .app-header__nav__content--active {
    background: transparent;
    position: static;
  }
  #root .app-header__nav__content__list {
    width: 100%;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
  }
  #root .app-header__nav__content__list__item {
    flex-basis: 17%;
    align-items: flex-end;
  }
  #root .app-header__nav__content__list__item__btn:hover, #root .app-header__nav__content__list__item__btn--active {
    color: #FFF;
    background-color: black;
  }
}
@media (min-width: 1024px) {
  body {
    font-size: 8px;
  }

  #root .app-header__author-info {
    margin-left: 2%;
  }
  #root .app-header__nav__content {
    position: static;
    height: 100%;
  }
  #root .app-header__nav__content__list {
    width: 100%;
    height: 80%;
    flex-direction: row;
    align-items: stretch;
  }
  #root .app-header__nav__content__list__item {
    flex-basis: 17%;
    align-items: stretch;
  }
  #root .app-header__nav__content__list__item__btn {
    width: 153px;
  }
  #root .app-header__nav__content__list__item__btn:hover {
    color: #FFF;
    background-color: black;
  }
}
@media (min-width: 1280px) {
  body {
    font-size: 10px;
  }

  #root .app-header__author-info {
    margin-left: 2%;
  }
  #root .app-header__nav__content {
    position: static;
    height: 100%;
  }
  #root .app-header__nav__content__list {
    flex-direction: row;
    align-items: stretch;
  }
  #root .app-header__nav__content__list__item {
    flex-basis: 17%;
    align-items: stretch;
  }
  #root .app-header__nav__content__list__item__btn:hover {
    color: #FFF;
    background-color: black;
  }
}
@media (orientation: landscape) {
  body {
    font-size: 8px;
  }
}

/*# sourceMappingURL=index.css.map */
